body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

div .container {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

div .a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  width: 100%;
  min-height: 30vh;
}

div .b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

div .c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  width: 100%;
}

@media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .a {
      max-width: 100%;
    }
    .b {
      
    }
    .c {
      
    }

}